@charset "UTF-8";
/*  #B9F0EB azul
    #A39A76 cinza
    */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

    :root {
        --cor1: #B9F0EB;
        --cor2: #A39A76;
        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --fonte-destaque: 'Bebas Neue', cursive;


    }
*{
    margin: 0px;
    padding: 0px;
    height: auto;
   
}

a {
    color: rgb(82, 81, 81);
    text-decoration: none;
    font-family: var(--fonte-destaque);
    padding-right: 5px;
    font-weight:bolder;
    font-size: 25px;
    text-align: center;
 
    

}
header{
    text-align: center;
    
    
}

header > img {

    height: 150px;
    width: auto;
   
    
}

body {
    background-image: url('fundo.jfif');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0%;
    height: 123vh;


}
header {
    color: rgb(82, 81, 81);
    font-family: var(--fonte-destaque);
  
    text-shadow: 10px, 10px, 10px black;
  
   
   


}
nav{
   
    font-family: var(--fonte-destaque);
    padding-left: 1%;
    text-align: center;
   
}
main{
    color:rgb(82, 81, 81);
    font-family: var(--fonte-destaque);
}
h1 {
    color:rgb(82, 81, 81);
    font-family: var(--fonte-destaque);
}
main > article {
    padding: 1%;

}

section#botoes-contato {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}



.botao-contato{
    text-decoration: none;
    background: linear-gradient(68.15deg, #073e39, #B9F0EB );
    
    width: 165px;
    height: 60px;
    border:none;
    border-radius: 2px;
    box-shadow: 4px 4px 5px black;
    font-family: var(--fonte-destaque);
    font-size: medium;
    

}

.botao-contato:hover {
    font-size: large;

}





footer {
    font-family: var(--fonte-destaque);
    
    bottom: 0%;
    width: 100%;
    color:gray;
    padding-top: 200px;


}
p#rodape {
    text-align: center;
    font-weight: bold;
    border-top: 0.5px solid #073e39;
}

a:hover {
   font-size: larger;

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div#borda {
    border-top: 0.5px solid #073e39;
    
}

div#hardskills {
    width: 49%;
min-width: 250px;
display: inline-block;
vertical-align: top;
padding-top: 50px;

}
div#softskills {
    width: 49%;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
    border-left: 0.5px solid #073e39;
    padding-top: 50px;
}

///////////// Lembrar de ajustar todos os parametros